<!DOCTYPE html>
<html>
  <head>
    <title>SuperIMAP</title>
    <meta name="google-site-verification" content="6ZSn5Hns2CWjj_4rFt-nya8b0aCqSmwByF5PZEwSkIk" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

  </body>
</html>
